<div id="<%= dom_id todo_item %>">
  <div style="display: flex">
    <%= form_with model: todo_item do |f| %>
      <%= f.check_box :completed, data: { controller: 'put-request', 'put-request-url-value': todo_item_url(todo_item), action: "change->put-request#start" } %>
      <strong><%= todo_item.content %></strong>
    <% end %>

    <%= link_to edit_todo_item_url(todo_item), data: { turbo_stream: true } do %>
        <%= image_tag('pencil.svg', width: 20, height: 20, style: "margin-left: 5px") %>
      <% end %>

    <%= button_to todo_item_url(todo_item), { method: :delete, class: :unstyled, title: "todo: Delete a todo" } do %>
      <%= image_tag('trash.svg', width: 20, height: 20) %>
    <% end %>
  </div>
</div>
