<p style="color: green"><%= notice %></p>

<% content_for :title, "Todo items" %>

<div style="display: flex">
  <h1>Todo items</h1>
  <div style="margin-left: 20px">
    <p>Filters:</p>
    <%= link_to "All todos", todo_items_url %>
    <%= link_to "Completed todos", todo_items_url(completed: true) %>
    <%= link_to "Pending todos", todo_items_url(pending: true) %>
  </div>
</div>

<hr>

<div id="todo_items">
  <%= render(partial: 'todo_item', collection: @todo_items) %>
</div>

<h2>Add new item</h2>
<%= turbo_frame_tag "new-todo-item", src: new_todo_item_path do %>
  loading
<% end %>
